<html>

<head>
	<title>Pixi - Bird</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		@font-face {
			font-family: 'CustomFont';
			src: url('../assets/CustomFont.ttf');
		}
		html,
		body {
			margin: 0;
      		padding: 0;
			background: #4775ff;
			/* background-image: url('../assets/frame.png');
			background-repeat: no-repeat;
			background-size: cover; */
		}

		.pixi-content {
			font-family: 'CustomFont';
			height: auto;
			width: auto;
		}

		#pixi-canvas {
			/* position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto; */
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="pixi-content" style="font-family: 'CustomFont';"><canvas id="pixi-canvas" /></div>
</body>

</html>